<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>MyApp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>AvenirNextLTPro-Bold.otf</string>
		<string>AvenirNextLTPro-BoldCn.otf</string>
		<string>AvenirNextLTPro-BoldCnIt.otf</string>
		<string>AvenirNextLTPro-BoldIt.otf</string>
		<string>AvenirNextLTPro-Cn.otf</string>
		<string>AvenirNextLTPro-CnIt.otf</string>
		<string>AvenirNextLTPro-Demi.otf</string>
		<string>AvenirNextLTPro-DemiCn.otf</string>
		<string>AvenirNextLTPro-DemiCnIt.otf</string>
		<string>AvenirNextLTPro-DemiIt.otf</string>
		<string>AvenirNextLTPro-Heavy.otf</string>
		<string>AvenirNextLTPro-HeavyCn.otf</string>
		<string>AvenirNextLTPro-HeavyCnIt.otf</string>
		<string>AvenirNextLTPro-HeavyIt.otf</string>
		<string>AvenirNextLTPro-It.otf</string>
		<string>AvenirNextLTPro-Medium.otf</string>
		<string>AvenirNextLTPro-MediumCn.otf</string>
		<string>AvenirNextLTPro-MediumCnIt.otf</string>
		<string>AvenirNextLTPro-MediumIt.otf</string>
		<string>AvenirNextLTPro-Regular.otf</string>
		<string>AvenirNextLTPro-UltLt.otf</string>
		<string>AvenirNextLTPro-UltLtCn.otf</string>
		<string>AvenirNextLTPro-UltLtCnIt.otf</string>
		<string>AvenirNextLTPro-UltLtIt.otf</string>
	</array>
</dict>
</plist>
